[submodule "submodules/picoweb"]
	path = submodules/picoweb
	url = https://github.com/xsteadfastx/picoweb.git
[submodule "submodules/pycopy-lib"]
	path = submodules/pycopy-lib
	url = https://github.com/xsteadfastx/pycopy-lib.git
[submodule "submodules/pycopy"]
	path = submodules/pycopy
	url = https://github.com/xsteadfastx/pycopy.git
[submodule "submodules/utemplate"]
	path = submodules/utemplate
	url = https://github.com/xsteadfastx/utemplate.git
[submodule "submodules/tinydns"]
	path = submodules/tinydns
	url = https://github.com/xsteadfastx/tinydns.git
