[submodule "submodules/picoweb"]
	path = submodules/picoweb
	url = https://github.com/xsteadfastx/picoweb.git
[submodule "submodules/micropython"]
	path = submodules/micropython
	url = https://github.com/xsteadfastx/micropython.git
[submodule "submodules/pycopy-lib"]
	path = submodules/pycopy-lib
	url = https://github.com/xsteadfastx/pycopy-lib.git
[submodule "submodules/micropython-lib"]
	path = submodules/micropython-lib
	url = https://github.com/xsteadfastx/micropython-lib.git
[submodule "submodules/pycopy"]
	path = submodules/pycopy
	url = https://github.com/xsteadfastx/pycopy.git
